{% extends "base.html"%}
{% load static %}
{% block cuerpo %}
<div class="row">
<div class="col-sm-12 col-md-4 col-lg-4  col-xl-4">
    <h1>registrar Facturas</h1>
    <div class="card">
      <div class="card-body">
        <form action="/registrarFacturacion/" method="POST"> {% csrf_token %}<!--formulario-->
          <div class="form-group">
            <input type="text" id="txtid_factura" name="txtid_factura" class="form-control" placeholder="ID Factura"  maxLenght="20" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtid_reserva" name="txtid_reserva" class="form-control" placeholder="ID Reserva" maxLenght="20" required>
          </div>
          <div class="form-group">
            <input type="date" id="txtfecha_de_pago" name="txtfecha_de_pago" class="form-control" placeholder="Fecha de Pago" maxLenght="50" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtmonto_total" name="txtmonto_total" class="form-control" placeholder="Monto Total" maxLenght="100" required>
          </div>
          <div class="form-group">
            <input type="text" id="txtmetodo_de_pago" name="txtmetodo_de_pago" class="form-control" placeholder="Metodo de Pago" maxLenght="30" required>
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>
    </div>

</div>
<div class="col-sm-12 col-md-4 col-lg-8 col-xl-4"><!--columna derecha-->
    <h1>Listado de Facturaciones</h1>
    <img class="rounded mx-auto d-block" src="{% static "img/facturacion.jpg" %}" alt="alexis" />
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">id factura</th>
                <th scope="col">id reserva</th>
                <th scope="col">fecha de pago</th>
                <th scope="col">monto total</th>
                <th scope="col">metodo de pago</th>
              </tr>
            </thead>
            <tbody>
            {% for E in miFacturacion %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{E.id_factura}}</td>
                <td>{{E.id_reserva}}</td>
                <td>{{E.fecha_de_pago}}</td>
                <td>{{E.monto_total}}</td>
                <td>{{E.metodo_de_pago}}</td>
                <td><a href="seleccionarFacturacion/{{E.id_factura}}" class="btn btn-info">Editar</td> <!--falta link-->
                  <td><a href="borrarFacturacion/{{E.id_factura}}" class="btn btn-danger">Borrar</td> <!--falta link-->
                
            </tr>
            {% endfor %}
            </tbody>
          </table>
{% endblock %}